{
    "extends": [
        "airbnb",
        "cleanjs",
        "eslint:recommended"
    ],
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "immutable",
        "jest"
    ],
    "env": {
        "node": true,
        "jest": true,
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion":  8
    },
    "rules": {
        "no-console": "off",
        "strict": [
            "error",
            "global"
        ],
        "curly": "warn"
    }
}